##############################
# Java
##############################
*.class

##############################
# Maven
##############################
target/

##############################
# Logs
##############################
*.log

##############################
# OS Files
##############################
.DS_Store
Thumbs.db

##############################
# IDE
##############################
.idea/

##############################
# VS Code
##############################
.vscode/

##############################
# Node
##############################
node_modules/

##############################
# Playwright Reports
##############################
playwright-report/
test-results/

##############################
# Environment Files
##############################
.env